/* General Styles */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 250px; /* Set width */
  position: fixed; /* Fixed sidebar */
  z-index: 1; /* Sit on top */
  top: 0; /* Stay at the top */
  left: -250px; /* Hide sidebar */
  background-color: #111; /* Sidebar color */
  transition: 0.3s; /* Smooth transition */
  padding-top: 20px; /* Padding at the top */
}

/* Styles for Close Button */
.closebtn {
  position: absolute; /* Position it */
  top: 20px; /* Position from the top */
  right: 25px; /* Position from the right */
  font-size: 36px; /* Size of the button */
  color: white; /* Button color */
}

/* Sidebar links */
.sidebar nav a {
  padding: 10px 15px; /* Padding for links */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Font size */
  color: #818181; /* Link color */
  display: block; /* Block display */
  transition: 0.3s; /* Smooth transition */
}

/* Change link color on hover */
.sidebar nav a:hover {
  color: #f1f1f1; /* Change link color on hover */
}

/* Main content area */
#main {
  transition: margin-left 0.5s; /* Smooth transition for main content */
  padding: 16px; /* Padding for main content */
}

/* Flash messages */
.flashes {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
}

.flashes li {
  margin: 10px 0; /* Margin between messages */
}
