/* General Styles */

/* Body styles */
body {
  font-family: Arial, sans-serif; /* Use a clean font for the app */
  background-color: #f8f9fa; /* Light background color for better contrast */
  color: #343a40; /* Dark text color for readability */
  margin: 0;
  padding: 0;
}

/* General Sidebar Styles */
.sidebar {
  height: 100%; /* Full height */
  width: 250px; /* Set width */
  position: fixed; /* Fixed sidebar */
  z-index: 1; /* Sit on top */
  top: 0; /* Stay at the top */
  left: -250px; /* Hide sidebar */
  background-color: #111; /* Sidebar color */
  transition: 0.3s; /* Smooth transition */
}

/* Styles for Close Button */
.closebtn {
  position: absolute; /* Position it */
  top: 20px; /* Position from the top */
  right: 25px; /* Position from the right */
  font-size: 36px; /* Size of the button */
  color: white; /* Button color */
}

/* Styles for Open Button */
.openbtn {
  font-size: 20px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Sidebar links */
.sidebar nav a {
  padding: 8px 8px 8px 32px; /* Padding for links */
  text-decoration: none; /* Remove underline */
  font-size: 25px; /* Font size */
  color: #818181; /* Link color */
  display: block; /* Block display */
  transition: 0.3s; /* Smooth transition */
}

/* Change link color on hover */
.sidebar nav a:hover {
  color: #f1f1f1; /* Change link color on hover */
}
/* Main content styles */
#main {
  transition: margin-left .5s; /* Transition effect for main content */
  padding: 16px; /* Padding around main content */
}

/* Flash messages */
.flashes {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
}

.flashes li {
  margin: 10px 0; /* Margin between messages */
}

/* Custom container */
.custom-container {
  margin-top: 20px; /* Space above container */
}

/* Custom card styles */
.custom-card {
  margin-top: 20px; /* Space above card */
  border: 1px solid #ced4da; /* Border for card */
  border-radius: 5px; /* Rounded corners */
}

/* Button styles */
.custom-btn {
  background-color: #2062a8; /* Primary button color */
  color: white; /* White text color */
}

.custom-btn:hover {
  background-color: #024892; /* Darker shade on hover */
}

